body {
  background-color: rgb(184, 152, 207);
}

.bio {
  margin: 12px;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  text-align: left;
}

.container {

}

.gothcoffee {
  max-width:30%;
  height:auto;
  float: right;
}

.jumbotron {
  background-color: purple !important;
}
panel .panel-info {
  color: solid purple;
}